@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap"');

body {
    font-family: 'Funnel Sans', sans-serif;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-attachment: fixed;
    color: white;
}

/* --- Headings --- */
h1 {
    text-align: center;
}

/* --- Tables --- */
#workoutsTable {
    background-color: rgba(212, 212, 212, 0.4);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#workoutsTable th,
#workoutsTable td {
    padding: 10px;
    border: 1px solid white;
}

#workoutsTable th {
    background-color: #0095b2
}

#workoutsTable tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.reflected {
    background-color: rgba(0, 255, 0, 0.15)
}

/* --- Buttons --- */
.btn-primary {
    background-color: #0095b2;
    border: none;
}

.btn-primary:hover {
    background-color: #00849f;
}

/* --- Cards --- */
.card {
    background-color: rgba(212, 212, 212, 0.4);
    color: white;
    border: 1px solid white;
}

/* --- Insights --- */
.highlighted-insight {
    border: 2px solid #d06efd;
    background-color: rgba(13, 110, 253, 0.1);
    transition: background-color 0.5s ease;
}

/* --- Hidden State --- */
.hidden {
    display: none !important;
}

/* --- Star Rating ---*/
.star-rating {
    font-size: 1.5rem;
    cursor: pointer;
}

.star-rating i {
    color: #ccc;
    margin-right: 5px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.star-rating i:hover{
    transform: scale(1.2);

}

.star-rating i.filled {
    color: gold;
}

.star-rating.disabled {
    pointer-events: none;
    cursor: default;
}

.star-rating.disabled i {
    cursor: default;
    opacity: 0.7;
}