@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap"');

body {
    font-family: 'Funnel Sans', sans-serif;
    margin: 20px;
    background: #0095B2;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-attachment: fixed;
    color: white;
}

h1 {
    text-align: center;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(212, 212, 212, 0.4);
}

th, td {
    padding: 10px;
    border: 1px solid #fff;
    text-align: left;
}

th {
    background-color: #0095b2;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.btn {
    background-color: #0095b2;
    color: white;
}

.btn:hover {
    background-color: #00849f
}

#workoutSection {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: flex-start;
}

#workoutDetail {
    flex: 1;
    background-color: rgba(212, 212, 212, 0.4);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#reflectionForm {
    flex: 1;
    background-color: rgba(212, 212, 212, 0.4);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

@media (max-width: 900px) {
    #workoutSection {
        flex-direction: column;
    }
}

label {
    display: block;
    margin-top: 10px;
}

input[type=number] {
    width: 50px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
}

.star-rating {
    font-size: 1.5rem;
    cursor: pointer;
}

.star-rating:hover {
    font-size: 1.6rem;
}

.star-rating i {
    color: #ccc;
    margin-right: 5px;
    transition: color 0.2s;
}

.star-rating i.filled {
    color: gold;
}

